# Global ignores
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Monorepo artifacts
apps/**/node_modules
apps/**/.next
apps/**/dist
apps/**/coverage
apps/**/.turbo

# Editor/OS
.DS_Store
Thumbs.db
.idea
.vscode

# Git
.git
.gitignore

# Tests
**/__tests__
**/__test__
coverage

# Env files
.env
apps/**/.env
